body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1{
    opacity: 0.5;
}
h1:hover{
    opacity: 1;
}
#omar {
    opacity: 0.5; 
}
#omar:hover{
     opacity: 1;
     color: green
}
#mydiv {
	box-sizing: border-box;/*width = content + padding + border*/
    background-color: #404040;
    color: rgb(211, 243, 28);
    border: 5px solid rgb(116, 6, 241);
    margin: 20px;
    padding: 50px;
    width: calc(100%-40px) /*note the width = doesn't include margin so we subtract it 
							so that margin + div = 100%	*/
}
#butt {
    opacity: 0.5;

    color : red
    
}
#butt:hover{
    transition-property: transform ,width ,height;
    transition-duration: .5s;
    border-radius: 20px;
    transition-delay:.02s;
    transform: translateY(5px);
   width:100px;
    height:80px;
    background-color: red;
    color: white;
    opacity:1
}


